/*
  CSS rules divided loosely by SMACSS principles:
  https://smacss.com/book/categorizing

  Divisions:

  * Base    - single element and pseudo element defaults.
  * Layout  - page section al divisions.
  * Modules - reusable, modular parts of our design.
  * State   - how Modules or Layouts look when in particular states.
  * Theme   - how modules or layouts might look under differnt conditions
*/




/*
  Base Rules
  ==========

  These are the defaults. They are almost exclusively single element selectors
  but it could include attribute selectors, pseudo-class selectors, child
  selectors or sibling selectors. Essentially, a base style says that wherever
  this element is on the page, it should look like this.
*/

html,
body,
header,
footer,
main {
  font-family: Hind, sans-serif;
}

main a:link,
main a:link:visited,
header a:link,
header a:link:visited,
footer a:link,
footer a:link:visited {
  color: #3559B1;
}

main a:link:hover,
main a:link:visited:hover,
header a:link:hover,
header a:link:visited:hover,
footer a:link:hover,
footer a:link:visited:hover {
  color: #9BDCFF;
}

main h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
main h2 {
  color: #333;
  font-size: 32px;
  line-height: 1.2;
  margin: 24px 0;
  text-transform: uppercase;

  /*
  Rainbow effect:

  background: -webkit-linear-gradient(270deg, #360c49, #ce0155);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
}
main h3 {
  font-family: Hind, sans-serif;
  font-weight: 400;
}





/*
  Layout Rules
  ==========

  Layout rules divide the page into sections. Layouts hold one or more modules
  together.
*/

header.site-header {
  background: #510B50;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: Hind, sans-serif;
}
  header.site-header a:link,
  header.site-header a:link:visited {
    color: #fff;
  }

  header.site-header a:link:hover,
  header.site-header a:link:visited:hover {
    color: #9BDCFF;
  }{
  }
  .header-title-line1 {
    display: block;
  }
  .header-title-line2 {
    display: block;
    font-size: 80%;
  }

.navbar-brand {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 160px auto;
  position: relative;
  text-indent: -5000em;
  height: 49px;
  width: 420px;
  max-width: 100%;
}
  .navbar-brand:after {
    color: #eee;
    content: ": Alpha";
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    height: 49px;
    left: 135px;
    letter-spacing: 0.2em;
    line-height: 50px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 0;
    width: 90px;
  }

footer.site-footer {
  background: #510B50;
  color: rgba(255,255,255,0.75);
  font-size: 14px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}
  footer.site-footer h2 {
    text-transform: uppercase;
    color: #fff;
  }

  footer.site-footer a:link,
  footer.site-footer a:visited {
    color: #fff;
  }
  footer.site-footer a:link:hoverd,
  footer.site-footer a:visited:hover {
    color: #fff;
    text-decoration: underline;
  }
    .pre-footer-content {
      border-bottom: 1px solid rgba(255,255,255,0.2);
      margin-bottom: 1rem;
    }

    .member-cncf,
    .member-lf,
    .madeby-qbox {
      background-color: transparent;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 43px;
      margin: 1em;
      opacity: 0.4;
      text-align: left;
      text-indent: -5000px;
      transition: opacity 0.2s ease-in-out;
      width: 166px;
    }
    .member-cncf {
      background-image: url("/assets/images/member-cncf.svg");
    }
    .member-lf {
      background-image: url("/assets/images/member-lf.svg");
    }
    .madeby-qbox {
      background-image: url("/assets/images/madeby-qbox.svg");
    }



/*
  Modules
  =======
  These are the reusable, modular parts of our design. They are the callouts,
  the sidebar sections, the product lists and so on.
*/

a.nav-link {
  color: #fff;
}

header.jumbotron {
  background-color: #510B50;
  border-radius: 0;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}
  .jumbotron h1,
  .jumbotron p {
    color: rgba(255,255,255,0.75);
  }

  .jumbotron b,
  .jumbotron strong {
    color: #fff;
    font-weight: 400;
  }


.sectioned-page {}
  .sectioned-page .page-section {}
    .sectioned-page .page-section header {}
      .sectioned-page .page-section header h1 {
        text-align: center;
      }
      .sectioned-page .page-section header h2 {
        text-align: center;
      }
      .sectioned-page .page-section header h3 {
        text-align: center;
      }

.supergiant-signup-form-layout {
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  margin: 1rem;
  padding: 1rem 3rem;
}
  .supergiant-signup-form-layout header h2 {
    margin-top: 0.5rem;
  }

.page-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.row.tour-detail {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
  .tour-illustration {
    text-align: center;
    font-size: 90px;
    color: #099fd1;
  }


/*
  State
  =====

  State rules are ways to describe how our modules or layouts will look when in
  a particular state. Is it hidden or expanded? Is it active or inactive? They
  are about describing how a module or layout looks on screens that are smaller
  or bigger. They are also about describing how a module might look in
  different views like the home page or the inside page.
*/




/*
  Theme
  =====

  Similar to state rules in that they describe how modules or layouts might
  look. Most sites don’t require a layer of theming but it is good to be aware
  of it.
*/
