<header>
  <h2>Join the Alpha</h2>
</header>
<div *ngIf="this.state.status == 0 && this.state.error == false">
  <div class="supergiant-signup-form">
    <div class="container-fluid">
      <form
        role="form"
        novalidate
        [formGroup]="form"
        (ngSubmit)="useInvite(user)"
        angulartics2On="submit"
        angularticsEvent="Submit"
        angularticsCategory="Form"
        [angularticsProperties]="{label: 'alpha_claim_form'}"
        >
        <formly-form [model]="user" [fields]="userFields">
          <small class="form-text text-muted">
            Don't have a code?
            <b><a href="http://supergiant.io/joinalpha">
              Request an invitation.
            </a></b>
          </small>

          <div class="col-lg-2"></div>

          <button type="submit" class="btn btn-primary form-action-button">
            Activate
          </button>

          <div class="col-lg-2"></div>
        </formly-form>
      </form>
    </div>
  </div>
</div>

<div *ngIf="this.state.status == 1 && this.state.error == true">
  <p class="text-notice">{{ this.state.message }}</p>

  <div class="supergiant-signup-form">
    <div class="container-fluid">
      <form
        role="form"
        novalidate
        [formGroup]="form"
        (ngSubmit)="useInvite(user)"
        >
        <formly-form [model]="user" [fields]="userFields">
          <small class="form-text text-muted">
            Don't have a code?
            <b><a href="http://supergiant.io/joinalpha">
              Request an invitation.
            </a></b>
          </small>

          <div class="col-lg-2"></div>

          <button type="submit" class="btn btn-primary form-action-button">
            Activate
          </button>

          <div class="col-lg-2"></div>
        </formly-form>
      </form>
    </div>
  </div>
</div>

<div *ngIf="this.state.status == 1 && this.state.error == false">
  <p class="text-notice">{{ this.state.message }}<p>
</div>
