<main class="sectioned-page">
  <header class="jumbotron">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <h1>
            <span class="header-title-line1">Supergiant</span>
            <span class="header-title-line2">
              <b>Kubernetesas</b> a Service. <b>Supported.</b>
            </span>
          </h1>

          <p>
            <b>
              We're proud to offer our fully-automated ops platform to our alpha
              testing community.
            </b>
          </p>

          <p>
            Supergiant is a supported auto-scaling cloud service that just
            works. We’ve made Kubernetes auto-healing infrastructure and cloud
            portability accessible to developers who want to ship a scalable
            service or app.
          </p>
        </div>
      </div>
    </div>
  </header>

  <section class="page-section supergiant-signup-form-section">
    <div class="container">
      <div class="row">
        <div class="supergiant-signup-form-layout col-md-12">
          <div class="row justify-content-md-center">
            <div class="col-md-8">
              <header>
                <h2>Join the Alpha</h2>
              </header>

              <div class="supergiant-signup-form">
                <div class="container-fluid">
                  <form role="form" novalidate [formGroup]="form" (ngSubmit)="submit(user)">
                    <formly-form [model]="user" [fields]="userFields">
                      <div class="col-lg-2"></div>

                      <button type="submit" class="btn btn-primary form-action-button">Activate</button>

                      <div class="col-lg-2"></div>
                    </formly-form>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="page-section">
    <div class="container">
      <h2>Video</h2>
    </div>
  </section> -->

  <section class="page-section">
    <div class="container">

      <div class="row align-items-center tour-detail">
        <div class="col-8">
          <h3>Unobstructed Kubernetes in the Cloud</h3>

          <p>
            Enjoy Kubernetes' self-healing infrastructure that just works at any
            scale, designed by engineers at Google to run billions of containers
            a week.
          </p>
        </div>

        <div class="col-4 tour-illustration tour-illustration">
          <i class="fa fa-cloud"></i>
        </div>
      </div>

      <div class="row align-items-center tour-detail">
        <div class="col-4 tour-illustration" style="">
          <i class="fa fa-arrows-alt"></i>
        </div>

        <div class="col-8">
          <h3>On-Demand Autoscaling on Any Cloud Provider</h3>

          <p>
            Automatically scale VMs and hardware to stay at > 80% utilization
            on AWS, Packet.net, DigitalOcean, OpenStack, and GCE, with more
            providers on the way.
          </p>
        </div>
      </div>

      <div class="row align-items-center tour-detail">
        <div class="col-8">
          <h3>Launch Services and Stacks Instantly From The Apps Marketplace</h3>

          <p>
            Push a button to launch cloud services like PostgreSQL, Nginx, Redis,
            and Jenkins, or add your own Helm chart repos to be included in your
            own personalized marketplace.
          </p>
        </div>

        <div class="col-4 tour-illustration">
          <i class="fa fa-rocket"></i>
        </div>
      </div>

      <div class="row align-items-center tour-detail">
        <div class="col-4 tour-illustration">
          <i class="fa fa-terminal"></i>
        </div>

        <div class="col-8">
          <h3>Everything You Can Do in the UI is Available in the API</h3>

          <p>
            Build with tools that support your workflow as you expand and grow.
            Let Supergiant support your developers who just want to ship apps
            from development to production.
          </p>
        </div>
      </div>

      <div class="row align-items-center tour-detail">
        <div class="col-8">
          <h3>100% Open Source</h3>

          <p>
            Supergiant is open-source under an Apache 2.0 license. We would love
            your feedback to help make Supergiant even better.
          </p>
        </div>

        <div class="col-4 tour-illustration">
          <i class="fa fa-github"></i>
        </div>
      </div>

      <div class="row align-items-center tour-detail">
        <div class="col-4 tour-illustration">
          <i class="fa fa-life-ring"></i>
        </div>

        <div class="col-8">
          <h3>Awesome 24/7 Support. Really.</h3>

          <p>
            Supergiant is built and supported by the team behind Qbox.io -- the
            same team trusted by hundreds of organizations to deliver timely
            production support all over the world. We’ve got your back.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section supergiant-use-cases">
    <div class="container">
      <header>
        <h2>Use Cases</h2>
      </header>

      <div class="row justify-content-md-center">
        <h4 class="card col-md-8">
          <a href="https://supergiant.io/blog/kubecon-zombie-kubernetes-raising-nodes-dead" class="card-block">
            Mike Johnston at KubeCon EU: Zombie Kubernetes! Raising Nodes from the Dead
          </a>
        </h4>
      </div>
    </div>
  </section>
</main>
