<header class="container-fluid text-center">
  <p>
    Thanks for dropping by! Our latest alpha period has finished, but you can
    request to join our upcoming Beta program, learn more about Supergiant,
    and give us your feedback by joining our community.
  </p>
</header>

<div class="container-fluid text-center">
  <p>
    <a href="https://supergiant.io/joinalpha" class="btn btn-primary">Request Beta Access</a>
  </p>
</div>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      <a href="https://supergiant.io/slack">
        <i class="fa fa-slack fa-3x"></i><br>
        Join our Slack channel
      </a>
    </div>
    <div class="col">
      <a href="https://supergiant.io/twitter">
        <i class="fa fa-twitter fa-3x"></i><br>
        Follow on Twitter
      </a>
    </div>
    <div class="col">
      <a href="https://supergiant.io/github">
        <i class="fa fa-github fa-3x"></i><br>
        Fork on Github
      </a>
    </div>
  </div>
</div>
